
.speaker-card{

    display: flex;

    /*BORDA*/
    border-radius: 10px;
    border: none;
     /*TAMANHO DA BORDA*/
     max-width: 290px;

    /* COR DE FUNDO DOS CARDS */
    /* TIRAR NOS PRODUTOS */
    background-color: rgb(250, 250, 255); 

    /* ESPAÇAMENTO ENTRE LINHAS: GAP - CONFIG DOS TEXTOS*/
     gap: 15px;
     
     flex-direction:column;
   
    /* ENCAIXA A IMAGEM CERTINHO */
    overflow: hidden;
  }

.speaker-card:hover{
  /* EFEITO HOVER NOS CARDS */
    transform: scale(1.2);
    cursor: pointer;
   
}

  .speaker-card img{
    width: 100%;
    display: block;
  }

.speaker-card figcaption{
    padding: 10px;
    color: rgba(0, 0, 0, 0.463);
    text-align: justify;
    border-radius: 10px;
}

.speaker-card h3{
  /* TEXTOS DOS CARDS */
    padding: 25px 0;
    font-size: 28px;
    text-align:center;
    color: rgb(1, 52, 94);  
    border-radius: 10px; 
    
}

.speaker-card P{
  color: black;
  font-size:medium;
}
