@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);


/*EFEITO SUAVE DE TRANSIÇÃO ENTRE AS PÁGINAS*/
html{
  scroll-behavior: smooth;
}



.content-nosso-time, .content-produtos, .content-faq, .content-contato{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #ffffff;
}

.content-nosso-time{
  background-color: rgb(242, 245, 248);
  display: flex;
  justify-content: space-around;
  /*POR IMAGEM DE FUNDO*/
  margin: 0;
  padding: 0;
  background: 
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
      url("../assets/images/fundo.png") no-repeat center center fixed;
  background-size: cover;
  }


.content-produtos{
  margin: 0;
  padding: 0;
  background: 
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
      url("../assets/images/fundo02.png") no-repeat center center fixed;
  background-size: cover;

}

.content-faq{
  margin: 0;
  padding: 0;
  background: 
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
      url("../assets/images/fundo03.png") no-repeat center center fixed;
  background-size: cover;
}

.content-contato{
  margin: 0;
  padding: 0;
  background: 
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
      url("../assets/images/fundo04.png") no-repeat center center fixed;
  background-size: cover;
}










.main-content{
  width: 100%;
  height: 200vh;
  background-color: #e1e4ee;
}

.content-sec01{
  width: 100%;
  height: 100vh;
  background-color: rgb(228, 236, 255)
}