@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);

.content-nosso-time, .content-produtos, .content-faq, .content-contato{
  
}













.main-content{
  width: 100%;
  height: 200vh;
  background-color: #e1e4ee;
}

.content-sec01{
  width: 100%;
  height: 100vh;
  background-color: rgb(228, 236, 255)
}