@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);


/*EFEITO SUAVE DE TRANSIÇÃO ENTRE AS PÁGINAS*/
html{
  scroll-behavior: smooth;
}



.content-nosso-time, .content-produtos, .content-faq, .content-contato{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #e1e4ee;
}

.content-nosso-time{
  background-color: rgb(150, 175, 204);
  display: flex;
  justify-content: space-around;
}




.content-produtos{
  background-color: rgb(79, 118, 168);

}

.content-faq{
  background-color: rgb(105, 166, 207);

}

.content-contato{
  background-color: rgb(39, 111, 170);
}










.main-content{
  width: 100%;
  height: 200vh;
  background-color: #e1e4ee;
}

.content-sec01{
  width: 100%;
  height: 100vh;
  background-color: rgb(228, 236, 255)
}